.left-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.left-project img,
.right-project img {
  align-self: initial;

  width: 49.4vw;
  height: 100%;
}

.left-project article,
.right-project article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 75vh;
  max-width: 50vw;
  max-height: 100vh;
  margin-left: 8vw;
  margin-right: 1vw;

  font-size: 20px;
  line-height: 35px;

  color: #33323d;
}

.left-project article hr,
.right-project article hr {
  color: #33323d;
  width: 90%;
}

.left-project article p,
.right-project article p {
  padding-top: 50px;
  font-size: 0.8em;
}

.left-project article button,
.right-project article button {
  min-width: 204px;
  min-height: 48px;

  border: 1px solid black;
  background-color: #fafafa;
}

.left-project article button a,
.right-project article button a {
  background-color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
  color: #33323d;
}

.left-project article button:hover,
.right-project article button:hover {
  cursor: pointer;
  background-color: #33323d;
  color: #fafafa;
}

.left-project article button:hover a,
.right-project article button:hover a {
  cursor: pointer;
  background-color: #33323d;
  color: #fafafa;
}

.left-project article hr,
.right-project article hr {
  color: #33323d;
  width: 40vw;
}
